# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
venv/
.env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# macOS
.DS_Store
__MACOSX/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Aider
.aider*
