{% extends "base.html" %}

{% block title %}
{{ note.title }}
{% endblock %}

{% block content %}

<div class="page-header">

    <h1>{{ note.title }}</h1>

    <p class="page-description">
        Company Note
    </p>

    <div class="action-bar">

        <a
            class="btn btn-primary"
            href="{% url 'company-note-create-web' app_context.workspace_id app_context.company_id %}"
        >
            + Add Note
        </a>

        <a
            class="btn btn-secondary"
            href="{% url 'company-note-edit-web' note.pk %}"
        >
            Edit
        </a>

        <a
            class="btn btn-danger"
            href="{% url 'company-note-delete-web' note.pk %}"
        >
            Delete
        </a>

    </div>

</div>

<div class="card section-card">

    <h2 class="section-title">
        Content
    </h2>

    <div class="mini-item">
        {{ note.content|linebreaks }}
    </div>

</div>

{% endblock %}