{% extends "base.html" %}

{% block title %}
Company Notes
{% endblock %}

{% block content %}

<div class="page-header">

    <h1>Company Notes</h1>

    <p class="page-description">
            Manage company notes.
    </p>

    <div class="action-bar">

        {% if app_context.company_id and app_context.workspace_id %}
            <a
                class="btn btn-primary"
                href="{% url 'company-note-create-web' workspace_id=app_context.workspace_id company_id=app_context.company_id %}"
            >
                +New Company Note
            </a>
        {% endif %}

    </div>

</div>

{% if notes %}

<div class="grid">


    {% for note in notes %}

        <div class="card">

            <h2 class="section-title">
                Content
            </h2>

        <div class="mini-item">
            {{ note.content|linebreaks }}
        </div>

            <div class="card-actions">

                <a
                    href="{% url 'company-note-detail-web' pk=note.pk %}"
                    class="btn btn-primary"
                >
                    Open
                </a>

                <a
                    href="{% url 'company-note-edit-web' pk=note.pk %}"
                    class="btn btn-secondary"
                >
                    Edit
                </a>

                <a
                    href="{% url 'company-note-delete-web' pk=note.pk %}"
                    class="btn btn-danger"
                >
                    Delete
                </a>

            </div>

        </div>

    {% endfor %}

</div>

{% else %}

<div class="card empty-state">

    <h3>No Company Notes Yet</h3>

    <p>
        Start by creating your first company note.
    </p>

</div>

{% endif %}

{% endblock %}