<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome {{ request.user.email }}</h1>
<p>You are logged in.</p>
<h4><a href="{% url 'workspace-list-web' %}">Workspaces</a></h4>
<h4><a href="{% url 'job-benefit-list-web' %}">Job Benefits</a></h4>
<h4><a href="{% url 'job-task-list-web' %}">Job Tasks</a></h4>
<h4><a href="{% url 'job-requirement-list-web' %}">Job Requirements</a></h4>
<h4><a href="{% url 'document-type-list-web' %}">Document Types</a></h4>
<h4><a href="{% url 'document-list-web' %}">Documents</a></h4>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
</body>
</html>