<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Job Application Note</title>
</head>
<body>
<h1>Create Job Application Note</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Create</button>
</form>
<a href="{% url 'job-application-detail-web' pk=app_context.application_id %}">
    Back to job application
</a>
|
<a href="{{ app_context.application_notes_list_url }}">
    Back to job application notes
</a>
|
<a href="{% url 'dashboard' %}">
    Back to dashboard
</a>
</body>
</html>