<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ job_requirement.title }}</title>
</head>
<body>
<h1>{{ job_requirement.title }}</h1>

<p>Job Requirement details page</p>
<p><a href="{% url 'dashboard' %}">Back to Dashboard</a></p>
<a href="{% url 'job-requirement-list-web' %}">Back to Job Requirements</a>

<p>Title: {{ job_requirement.title }}</p>
<p>Description: {{ job_requirement.description }}</p>

<a href="{% url 'job-requirement-edit-web' job_requirement.pk %}">Edit</a>
|
<a href="{% url 'job-requirement-delete-web' job_requirement.pk %}">Delete</a>
</body>
</html>