<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ workspace.name }}</title>
</head>
<body>
<h1>{{ workspace.name }}</h1>

<p>Workspace details page</p>

<a href="{% url 'company-create-web' workspace.workspace_id %}">+ Create Company</a>

<ul>
    {% for company in workspace.companies.all %}
        <li><a href="{% url 'company-list-web' workspace.workspace_id %}">{{ company.name }}</a></li>
    {% endfor %}
</ul>

<a href="{% url 'workspace-edit' workspace.workspace_id %}">Edit</a>
|
<a href="{% url 'workspace-delete' workspace.workspace_id %}">Delete</a>
|
<a href="{% url 'workspace-list-web' %}">
    Back to Workspaces
</a>
</body>
</html>