<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workspaces</title>
</head>
<body>
<h1>Your Workspaces</h1>

<a href="{% url 'workspace-create' %}">+ Create Workspace</a>

<hr>

{% if workspaces %}
    {% for workspace in workspaces %}
        <div>
            <h3>{{ workspace.name }}</h3>

            <a href="{% url 'workspace-detail-web' workspace.pk %}">Open</a>
            |
            <a href="{% url 'workspace-edit' workspace.pk %}">Edit</a>
            |
            <a href="{% url 'workspace-delete' workspace.pk %}">Delete</a>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No workspaces yet.</p>
    <a href="{% url 'workspace-create' %}">
        Create your first workspace
    </a>
{% endif %}
</body>
</html>