<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
</head>
<body>
<h1>Your Documents</h1>
<a href="{% url 'dashboard' %}">Back to Dashboard</a>
|
<a href="{% url 'document-create-web' %}">+ Create Document</a>
<hr>

{% if documents %}
    {% for document in documents %}
        <div>
            <h3>{{ document.name }}</h3>
            <p>Document Type: {{ document.document_type.name }}</p>

            <a href="{% url 'document-detail-web' document.pk %}">Open</a>
            |
            <a href="{% url 'document-edit-web' document.pk %}">Edit</a>
            |
            <a href="{% url 'document-delete-web' document.pk %}">Delete</a>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No documents yet.</p>
    <a href="{% url 'document-create-web' %}">
        Create your first document
    </a>
{% endif %}
</body>
</html>