<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ job_application }}</title>
</head>
<body>
<h1>{{ job_application }}</h1>

{% if app_context.position_id %}
<a href="{% url 'job-position-detail-web' workspace_id=app_context.workspace_id company_id=app_context.company_id pk=app_context.position_id %}">
    Back to job position
</a>
|
{% endif %}
{% if app_context.company_id %}
<a href="{% url 'company-detail-web' workspace_id=app_context.workspace_id pk=app_context.company_id %}">
    Back to company
</a>
|
{% endif %}
{% if app_context.workspace_id %}
<a href="{% url 'workspace-detail-web' workspace_id=app_context.workspace_id %}">
    Back to job workspace
</a>
|
{% endif %}
<a href="{% url 'dashboard' %}">
    Back to dashboard
</a>

<p>Job Application details page</p>

<p>Status: {{ job_application.status }}</p>
<p>Date Applied: {{ job_application.date_applied }}</p>
<p>Notes: <a href="{{ app_context.application_notes_list_url }}">Go To Notes</a></p>
<ul>
{% if job_application.job_application_notes.all %}
    {% for note in job_application.job_application_notes.all %}
        <li>{{ note.title }}: {{ note.content }}</li>
    {% endfor %}
{% else %}
    <li>No Notes!</li>
{% endif %}
</ul>
<p>Email(s):</p>
<ul>
{% if job_application.emails.all %}
    {% for email in job_application.emails.all %}
        <li>{{ email.title }}: {{ email.email }}</li>
    {% endfor %}
{% else %}
    <li>No Emails!</li>
{% endif %}
</ul>
<p>Document(s):</p>
<ul>
{% if job_application.documents.all %}
    {% for document in job_application.documents.all %}
        <li>{{ document.name }}</li>
    {% endfor %}
{% else %}
    <li>No Documents!</li>
{% endif %}
</ul>
</body>
</html>