{% extends "base.html" %}

{% block title %}
Job Positions

{% endblock %}

{% block content %}

<div class="page-header">

    <h1>Job Positions</h1>

    <p class="page-description">
            Manage job positions.
    </p>

    <div class="action-bar">

        {% if app_context.company_id and app_context.workspace_id %}
            <a
                class="btn btn-primary"
                href="{% url 'job-position-create-web' workspace_id=app_context.workspace_id company_id=app_context.company_id %}"
            >
                +New Job Position
            </a>
        {% endif %}

    </div>

</div>

{% if job_positions %}

<div class="grid">


    {% for job_position in job_positions %}

        <div class="card">

            <h2 class="section-title">
                Title
            </h2>

        <div class="mini-item">
            {{ job_position.title|linebreaks }}
        </div>

            <div class="card-actions">

                <a
                    href="{% url 'job-position-detail-web' pk=job_position.pk %}"
                    class="btn btn-primary"
                >
                    Open
                </a>

                <a
                    href="{% url 'job-position-edit-web' pk=job_position.pk %}"
                    class="btn btn-secondary"
                >
                    Edit
                </a>

                <a
                    href="{% url 'job-position-delete-web' pk=job_position.pk %}"
                    class="btn btn-danger"
                >
                    Delete
                </a>

            </div>

        </div>

    {% endfor %}

</div>

{% else %}

<div class="card empty-state">

    <h3>No Job Positions Yet</h3>

    <p>
        Start by creating your first job position.
    </p>

</div>

{% endif %}

{% endblock %}